/*CUSTOM CSS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: none;
    color: rgb(18, 7, 108);
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-smooth: always;

    background-image: url('../img/main_background.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-color: #fff;
}

.alert{
    font-size: 0.8em;
}

.card-header{
    font-size: 0.9em;
}

.card-body{
    font-size: 0.9em;
}

.pagination .page-link {
    font-size: 0.8rem;   /* diminui a fonte do link */
    padding: 0.25rem 0.5rem; /* diminui o padding para ficar compacto */
}



